<div class="card">
    <p class="text-primary fw-bold">Name - {{Project.name}}</p>
    <p *ngIf="Project.from" class="fw-bold">From: {{Project.from}} To: {{Project.to}}</p>
    <p *ngIf="Project.role" class="fw-bold">Role: {{Project.role}}</p>
    <p>{{Project.description}}</p>
    <div id="more">
        <p class="fw-bold">Key Deliverables</p>
        <ul *ngFor="let key of Project.keys">
            <li>{{key}}</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" (click)="readMore()" id="readMoreBtn">Read more ...</button>
    </div>
</div>