<header>
    <div id="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()">
        <div class="logo-inner"></div>
        <img class="logo" src="assets/images/logo.svg" alt="Logo">
      </a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
            <a routerLink="/heroku-app/newest/1" routerLinkActive="active" (click)="scrollTop()">news</a>
              |
            <a routerLink="/heroku-app/show/1" routerLinkActive="active" (click)="scrollTop()">show</a>
              |
            <a routerLink="/heroku-app/ask/1" routerLinkActive="active" (click)="scrollTop()">ask</a>
              |
            <a routerLink="/heroku-app/jobs/1" routerLinkActive="active" (click)="scrollTop()">jobs</a>
          </span>
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-primary mx-1" (click)="fullscreen()"><i class="bi bi-fullscreen"></i></button>
        <button class="btn btn-primary mx-1" (click)="closeFullscreen()"><i class="bi bi-fullscreen-exit"></i></button>
      </div>
      <div class="info">
        <img class="settings" src="assets/images/cog.svg" alt="Settings" (click)="toggleSettings()">
      </div>
    </div>
    <app-settings *ngIf="settings.showSettings"></app-settings>
  </header>
