<h2 class="text-primary text-center">Reactive Form Demo</h2>
<p class="text-primary">Key features</p>
<div>
<ul>
    <li><p>PrimeNg Table</p></li>
    <li><p>Angular Material Dialog Box</p></li>
    <li><p>Add Data</p></li>
    <li><p>Custom validation</p></li>
    <li><p>Dynamic validation</p></li>
    <li><p>Dynamic Form using formBuilder.array</p></li>
    <li><p>Disabling previous value in dropdown of Dynamic Form</p></li>
    <li><p>Chevron View in Table</p></li>
    <li><p>Update and Delete Data</p></li>
</ul>
</div>
<div class="text-center">
<button class="btn btn-success" routerLink="/work/employee">Demo >></button>
</div>
