<h2 class="text-primary text-center">Products Demo</h2>
<p class="text-primary fw-bold">Key features</p>
<div class="mb-5">
    <ul>
        <li>
            <p>@ContentChildren decorator</p>
        </li>
        <li>
            <p>ngAfterContentInit()</p>
        </li>
        <li>
            <p>:host && ::ng-deep && :host-context</p>
        </li>
    </ul>
</div>
<div class="container mx-auto">
    <section>
        <span class="text-primary fw-bold">Weight</span>
        <ul>
            <li *ngFor="let item of weightFilter">
                <input value="{{item.value}}" (change)="onChange($event)" type="{{item.type}}">{{item.weight+' Kg'}}
            </li>
        </ul>
    </section>
    <div class="discountLess my-5">
        <h2>Product List (Discount <= 36%)</h2>
                <app-product-list>
                    <app-product-card *ngFor="let product of products" [product]="product"
                        (onRemove)="onRemoveEvent($event)"></app-product-card>
                </app-product-list>
    </div>
    <div class="discountMore">
        <h2>Product List (Discount > 36%)</h2>
        <app-product-list>
            <app-product-card *ngFor="let product of Products" [product]="product"
                (onRemove)="onRemoveEvent($event)"></app-product-card>
        </app-product-list>
    </div>
</div>
<div class="p-5">.</div>
