<h2 class="text-primary text-center">This is workspace where you can see my Work Demo</h2>
<ol>
    <li>
        <a routerLink="/work/reactive-form">
            <span class="icon m-1"><mat-icon>ballot</mat-icon></span>
            <span class="title">Reactive Form</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/cascading-dropdown">
            <span class="icon m-1"><mat-icon>domain</mat-icon></span>
            <span class="title">Cascading Dropdown</span>
        </a>
    </li>
</ol>
