<h2 class="text-primary text-center">This is workspace where you can see my Work Demo</h2>
<ol>
    <li>
        <a routerLink="/work/reactive-form">
            <span class="icon m-1"><mat-icon>ballot</mat-icon></span>
            <span class="title">Reactive Form</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/cascading-dropdown">
            <span class="icon m-1"><mat-icon>domain</mat-icon></span>
            <span class="title">Cascading Dropdown</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/update-list">
            <span class="icon m-1"><mat-icon>backup</mat-icon></span>
            <span class="title">Update List</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/token-interceptor">
            <span class="icon m-1"><mat-icon>vpn_key</mat-icon></span>
            <span class="title">Interceptor</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/custom-directive">
            <span class="icon m-1"><mat-icon>table_chart</mat-icon></span>
            <span class="title">Directive</span>
        </a>
    </li>
    <li>
        <a routerLink="/work/animation">
            <span class="icon m-1"><mat-icon>live_tv</mat-icon></span>
            <span class="title">Animation</span>
        </a>
    </li>
</ol>
