<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-center fw-bold">Hi, I am</p>
            <p class="fw-bold fs-2 text-primary text-center">Navdeep Singh Bakshi</p>
            <p class="text-primary text-center">Software Developer</p>
            <p class="fw-bold text-center">I am Full Stack developer, 1.7 years in the Information technology industry having a wide range of
                experience providing product management, developing, documenting, coding, modifying, testing and
                implementation business technology solution</p>
            <div class="mb-1 text-center">
                <button class="btn btn-primary m-1" (click)="downloadCV()">Download CV</button>
                <button class="btn btn-primary m-1" (click)="contact()">Contact Me</button>
            </div>
            <div class="mb-1 text-center">
                <button class="btn btn-outline-primary m-1" (click)="readMore()">Read More</button>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img class="image" src="assets/pic/navdeep_photo.jpg" alter="" />
        </div>
    </div>
</div>