<div [ngClass]="btnIcon ? 'navigation' : 'navigation-hover'">
    <div *ngIf="!btnIcon" class="btn-closing" (click)="closeBox()">
        <mat-icon>backspace</mat-icon>
    </div>
    <div *ngIf="btnIcon" class="btn-opening" (click)="openBox()">
        <mat-icon>view_list</mat-icon>
    </div>
    <ul>
        <li *ngFor="let item of list">
            <a routerLink="/work/{{item.link}}" (click)="closeBox()">
                <span class="icon"><mat-icon>{{item.icon}}</mat-icon></span>
                <span class="title">{{item.title}}</span>
            </a>
        </li>
    </ul>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>