<div class="div">
    <h2 class="text-primary text-center">Interceptor Demo</h2>
    <p class="text-primary fw-bold">Key features</p>
    <div class="mb-5">
        <ul>
            <li>
                <p>Adding JWT token in headers of every Http Request of Project</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Global error handling</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Showing Loading on every Http Request of Project</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Handling 401 Error by Refresh Token Implementation</p>
            </li>
        </ul>
    </div>
</div>