<div class="div">
    <h2 class="text-primary text-center">Update List Demo</h2>
    <p class="text-primary fw-bold">Key features</p>
    <div class="mb-5">
        <ul>
            <li>
                <p>@Input, @Output, EventEmitter used to communicate btw parent and child component</p>
            </li>
            <li>
                <p>Angular material Selection list</p>
            </li>
            <li>
                <p>@ViewChild / ngAfterViewInit() to take reference of search bar</p>
            </li>
            <li>
                <p>fromEvent, debounceTime(), distinctUntilChanged(), switchMap() - rxjs operators used in search bar</p>
            </li>
        </ul>
    </div>
</div>
<div class="container m-2">
    <div class="text-center">
        <mat-form-field class="mx-5">
            <mat-label>Favourate Fruits</mat-label>
            <mat-select>
                <mat-option *ngFor="let fruit of fruits" [value]="fruit.id">
                    {{fruit.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <a style="cursor: pointer;" (click)="open_lock()">
            <mat-icon color="primary">edit</mat-icon>UPDATE
        </a>
    </div>
</div>