<body>
    <div #container class="container">
        <div class="stats">
            <div>
                <span #sta class="sta" data-max="400">0</span>
                <p>awards</p>
            </div>
            <div>
                <span #sta class="sta" data-max="600">0</span>
                <p>project</p>
            </div>
            <div>
                <span #sta class="sta" data-max="500">0</span>
                <p>our team</p>
            </div>
            <div>
                <span #sta class="sta" data-max="300">0</span>
                <p>clients</p>
            </div>
        </div>
    </div>
</body>