body{
    height: 4000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3557;
}
.container{
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.stats{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stats div{
   width: 200px;
   height: 200px;
   display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.stats div span,p{
    color: red;
}